<div class="col-md-8">
    <% @events.each do |event| %>
        <div class="event">
            <span class="date default_date <%=event.custom_properties["source"]%>_date"><%= l event.dtstart.in_time_zone('Copenhagen'), format: :long %> </span>
            <span class="source"><a href="<%= event.custom_properties["info_url"] %>" class="btn btn-default" target="_blank"><%= event.custom_properties["source"]%></a></span>
            <span ><h3><%= event.summary  %></h3> </span>
    </br>
    <span ><em><%= event.description %></em> </span>
    <hr>
        </div>
    <% end %> 

</div>

<div class="col-md-4">
    <h1>Aktuelt</h1>
    <hr>

    <% @news.each do |news| %>
     <div class="well">

        <img src="https://static1.squarespace.com/static/ta/52c31ed0e4b09fd87288a7f6/23/assets/icons/splash-logo.png" class="img-responsive"/>
        <h3><%= news.title  %></h3>
        <h4><em><%= news.subtitle  %></em></h4>
        <p class="text-primary"><%= news.lead  %></p>
        <p><%= raw news.body  %></p>
    </div>
   
    <% end %>
    </div>
